.footer-button {
  display: block;
  margin: 0 auto;

  position: absolute;

  font-size: 16px;
  font-weight: 700;

  padding: 20px 130px;

  bottom: 7.5%;
  left: 50%;
  transform: translate(-50%, -50%);

  background-color: #51A8FF;
  border-radius: 26px;

  color: white;

  width: max-content;
}