.quest {
  width: 100%;
  height: 100%;

  .purchase {
    position: absolute;

    top: 60%;

    display: inline-block;

    margin: 0 auto;

    width: 80%;
    transform: translate(-50%, -50%);

    background-color: white;
    border-radius: 20px;


    img {
      margin-top: 5%;
    }

    p {
      margin-top: 2%;

      font-weight: 600;
      font-size: 16px;
    }

    a {
      display: block;

      margin: 15px 25px 25px;

      padding: 20px 54px;

      border-radius: 10px;
      background-color: #E63B47;

      color: white;

      font-weight: 700;
      font-size: 16px;
    }
  }
}

.quest .info {
  margin-top: 30%;
  width: 100%;

  display: flex;
  flex-direction: row;

  justify-content: center;
  align-items: center;

  gap: 8px;
}

.quest .info div {
  display: flex;
  
  justify-content: center;
  align-items: center;

  background-color: white;
  border-radius: 32px;

  width: 30%;
  height: 5%;
  
  padding: 8px 30px;

  font-size: 18px;
  font-weight: 700;

  img {
    margin-left: 8px;
  }
}

.quest .content {
  text-align: center;

  margin: 0 auto;
  width: 80%;

  .failed {
    margin-top: 30%;
    color: #B0B8CB;
  }
}

.quest .content h1 {
  margin-top: 25%;

  color: #FFBB0E;
  
  font-size: 46px;
  font-weight: 700;
}

.quest .points {
  margin-top: 6%;
  
  p {
    font-weight: 500;
    font-size: 16px;
  }

  .stars {
    display: flex;
    
    justify-content: center;
    align-items: center;

    gap: 4px;

    font-size: 46px;
    font-weight: 700;

    color: #FFBB0E;
  }
}